In [1]:
#pip install selenium

Requirement already satisfied: selenium in /Applications/anaconda3/lib/python3.8/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /Applications/anaconda3/lib/python3.8/site-packages (from selenium) (1.25.11)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Selenium for webdriver window
from selenium import webdriver

In [18]:
# Beautiful Soup for web scrapping
from bs4 import BeautifulSoup

In [14]:
# Set the webpage to scrape
books_url = 'http://books.toscrape.com/index.html'

In [11]:
# Initialize the webcriver with Chrome
driver = webdriver.Chrome('/Users/whipxach/Downloads/chromedriver')

In [15]:
# Set the driver to open the webpage
driver.get(books_url)

In [16]:
book = driver.find_element_by_xpath('//*[@id="default"]/div/div/div/div/section/div[2]/ol/li[1]/article/div[2]/p[1]')

In [ ]:
book.send_keys()

In [ ]:
# Looking up the price

In [20]:
# Page source html
my_html = driver.page_source

In [21]:
# bs4 scrapes the page html
soup = BeautifulSoup(my_html, 'html.parser')

At this point you need to look at the open window of the webpage and right-click on 'inspect' button. Then click on the arrown in the square icon (Command-Shift-C). Now highlight the area in the webpage that you wish to focus on. Under 'Elements' in the Inspect window look at the html so you can use it with the .find_all method!

In [35]:
# Look for the price under ALL div classes that say "product_price"
prices = soup.find_all('div', class_ = "product_price")

In [36]:
# View the first one
prices[0]

<div class="product_price">
<p class="price_color">£51.77</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>

In [37]:
# Go further with .find() and .text to get just the price info.
prices[0].find('p', class_ = "price_color" ).text

'£51.77'

In [54]:
price_list = []
for price in prices:
    amount = price.find(class_ = 'price_color').text
    price_list.append(amount)
price_list

['£51.77',
 '£53.74',
 '£50.10',
 '£47.82',
 '£54.23',
 '£22.65',
 '£33.34',
 '£17.93',
 '£22.60',
 '£52.15',
 '£13.99',
 '£20.66',
 '£17.46',
 '£52.29',
 '£35.02',
 '£57.25',
 '£23.88',
 '£37.59',
 '£51.33',
 '£45.17']

In [41]:
# Alternatively, I could have done it this way.
# amounts = soup.find_all('p', class_ = "price_color")
# amounts[0].text
# for amount in amounts:
#    print(amount.text)

In [61]:
# Trying to figure out number of stars
stars = soup.find_all('p', class_ = "star-rating")
stars

[<p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>]

In [66]:
# How can I extract the 'class'
stars[1]

<p class="star-rating One">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>

In [91]:
# All the icons are the same - it's the CSS that is different
stars[0]

<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>

In [135]:
type(stars[0])

bs4.element.Tag

In [140]:
stars[0].get('class')[1]

'Three'

In [142]:
len(stars)

20

In [144]:
star_list = []
for i in range(len(stars)):
    star_list.append(stars[i].get('class')[1])
star_list

['Three',
 'One',
 'One',
 'Four',
 'Five',
 'One',
 'Four',
 'Three',
 'Four',
 'One',
 'Two',
 'Four',
 'Five',
 'Five',
 'Five',
 'Three',
 'One',
 'One',
 'Two',
 'Two']

In [145]:
import pandas as pd

In [250]:
df = pd.DataFrame(list(zip(title_list, price_list, star_list)), 
               columns =['Title', 'Price', 'Number of Stars'])

In [251]:
df

                                                Title   Price Number of Stars
0                                A Light in the Attic  £51.77           Three
1                                  Tipping the Velvet  £53.74             One
2                                          Soumission  £50.10             One
3                                       Sharp Objects  £47.82            Four
4               Sapiens: A Brief History of Humankind  £54.23            Five
5                                     The Requiem Red  £22.65             One
6   The Dirty Little Secrets of Getting Your Dream...  £33.34            Four
7   The Coming Woman: A Novel Based on the Life of...  £17.93           Three
8   The Boys in the Boat: Nine Americans and Their...  £22.60            Four
9                                     The Black Maria  £52.15             One
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99             Two
11                              Shakespeare's Sonnets  £20.66            Four
12                                        Set Me Free  £17.46            Five
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29            Five
14                          Rip it Up and Start Again  £35.02            Five
15  Our Band Could Be Your Life: Scenes from the A...  £57.25           Three
16                                               Olio  £23.88             One
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59             One
18                       Libertarianism for Beginners  £51.33             Two
19                            It's Only the Himalayas  £45.17             Two

In [252]:
rated = df.groupby('Number of Stars')

In [71]:
# Thinking about looping through a list
rating_list = ["star-rating One","star-rating Two","star-rating Three","star-rating Four","star-rating Five"]

In [99]:
# Or maybe using a dictionary
rating_dict = {"star-rating One":1,"star-rating Two":2,"star-rating Three":3,"star-rating Four":4,"star-rating Five":5}

In [100]:
# .find() doesn't work if there is no text
review_3 = stars[0].find('p', class_ = "star-rating Three")
review_3

In [103]:
rating_dict

{'star-rating One': 1,
 'star-rating Two': 2,
 'star-rating Three': 3,
 'star-rating Four': 4,
 'star-rating Five': 5}

In [104]:
# How can I iterate through to see if it matches?
for rank in rating_dict:
    print(rank)

star-rating One
star-rating Two
star-rating Three
star-rating Four
star-rating Five

In [114]:
rating_dict.get('star-rating One')

1

In [189]:
# Trying to figure out number of stars
titles = soup.find_all('h3')
titles

[<h3><a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>,
 <h3><a href="catalogue/tipping-the-velvet_999/index.html" title="Tipping the Velvet">Tipping the Velvet</a></h3>,
 <h3><a href="catalogue/soumission_998/index.html" title="Soumission">Soumission</a></h3>,
 <h3><a href="catalogue/sharp-objects_997/index.html" title="Sharp Objects">Sharp Objects</a></h3>,
 <h3><a href="catalogue/sapiens-a-brief-history-of-humankind_996/index.html" title="Sapiens: A Brief History of Humankind">Sapiens: A Brief History ...</a></h3>,
 <h3><a href="catalogue/the-requiem-red_995/index.html" title="The Requiem Red">The Requiem Red</a></h3>,
 <h3><a href="catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html" title="The Dirty Little Secrets of Getting Your Dream Job">The Dirty Little Secrets ...</a></h3>,
 <h3><a href="catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html" title="The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull">The Coming Woman: A ...</a></h3>,
 <h3><a href="catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html" title="The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics">The Boys in the ...</a></h3>,
 <h3><a href="catalogue/the-black-maria_991/index.html" title="The Black Maria">The Black Maria</a></h3>,
 <h3><a href="catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html" title="Starving Hearts (Triangular Trade Trilogy, #1)">Starving Hearts (Triangular Trade ...</a></h3>,
 <h3><a href="catalogue/shakespeares-sonnets_989/index.html" title="Shakespeare's Sonnets">Shakespeare's Sonnets</a></h3>,
 <h3><a href="catalogue/set-me-free_988/index.html" title="Set Me Free">Set Me Free</a></h3>,
 <h3><a href="catalogue/scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html" title="Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)">Scott Pilgrim's Precious Little ...</a></h3>,
 <h3><a href="catalogue/rip-it-up-and-start-again_986/index.html" title="Rip it Up and Start Again">Rip it Up and ...</a></h3>,
 <h3><a href="catalogue/our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html" title="Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991">Our Band Could Be ...</a></h3>,
 <h3><a href="catalogue/olio_984/index.html" title="Olio">Olio</a></h3>,
 <h3><a href="catalogue/mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html" title="Mesaerion: The Best Science Fiction Stories 1800-1849">Mesaerion: The Best Science ...</a></h3>,
 <h3><a href="catalogue/libertarianism-for-beginners_982/index.html" title="Libertarianism for Beginners">Libertarianism for Beginners</a></h3>,
 <h3><a href="catalogue/its-only-the-himalayas_981/index.html" title="It's Only the Himalayas">It's Only the Himalayas</a></h3>]

In [190]:
titles[0]

In [199]:
for t in titles:
    print(t.text)

A Light in the ...
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History ...
The Requiem Red
The Dirty Little Secrets ...
The Coming Woman: A ...
The Boys in the ...
The Black Maria
Starving Hearts (Triangular Trade ...
Shakespeare's Sonnets
Set Me Free
Scott Pilgrim's Precious Little ...
Rip it Up and ...
Our Band Could Be ...
Olio
Mesaerion: The Best Science ...
Libertarianism for Beginners
It's Only the Himalayas

In [203]:
titles[4]

In [246]:
for t in titles:
    print(t.find('a').get('title'))

A Light in the Attic
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History of Humankind
The Requiem Red
The Dirty Little Secrets of Getting Your Dream Job
The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull
The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics
The Black Maria
Starving Hearts (Triangular Trade Trilogy, #1)
Shakespeare's Sonnets
Set Me Free
Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)
Rip it Up and Start Again
Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991
Olio
Mesaerion: The Best Science Fiction Stories 1800-1849
Libertarianism for Beginners
It's Only the Himalayas

In [249]:
title_list = []
for t in titles:
    title_list.append(t.find('a').get('title'))
title_list

['A Light in the Attic',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History of Humankind',
 'The Requiem Red',
 'The Dirty Little Secrets of Getting Your Dream Job',
 'The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
 'The Black Maria',
 'Starving Hearts (Triangular Trade Trilogy, #1)',
 "Shakespeare's Sonnets",
 'Set Me Free',
 "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
 'Rip it Up and Start Again',
 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
 'Olio',
 'Mesaerion: The Best Science Fiction Stories 1800-1849',
 'Libertarianism for Beginners',
 "It's Only the Himalayas"]

In [ ]:
next_button = driver.find_element_by_xpath('//*[@id="default"]/div/div/div/div/section/div[2]/div/ul/li[2]/a')

In [ ]:
next_button.send_keys(keys.ENTER)